@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

html {
  font-size: 15px;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.7;
  font-weight: 400;
  font-family: var(--primary-font);
  background-color: var(--very-light-grey);
  color: var(--transparent-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: darkslategray;
}

a:hover {
  color: slategray;
}

.attribution {
  color: #505050;
  padding-bottom: 2em;
}
