html {
  font-size: 15px;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.7;
  font-weight: 400;
  font-family: var(--primary-font);
  background-color: var(--very-light-grey);
  color: var(--transparent-white);
}
