.card {
  display: flex;
  flex-direction: column;
  padding: 4em 3em;

  &__title {
    color: var(--very-light-grey);
    font-family: var(--title-font);
    text-transform: uppercase;
    font-size: var(--title-font-size);
    font-weight: 700;
    line-height: normal;
    margin-top: var(--margin-top);
  }

  &__text {
    margin-top: 1.5rem;
    max-width: 25ch;
  }

  &__image {
    width: min(20vw, 4.27rem);
  }

  &__button {
    background-color: var(--very-light-grey);
    border: 2px solid var(--very-light-grey);
    border-radius: 2rem;
    padding: 1em 2em;
    margin-top: var(--margin-top);

    &--sedans {
      color: var(--orange);
    }

    &--suvs {
      color: var(--dark-cyan);
    }

    &--luxury {
      color: var(--very-dark-cyan);
    }
  }

  &__button:hover,
  &__button:focus {
    background-color: transparent;
    cursor: pointer;
    color: var(--very-light-grey);
  }

  &__sedans {
    background-color: var(--orange);
  }

  &__suvs {
    background-color: var(--dark-cyan);
  }

  &__luxury {
    background-color: var(--very-dark-cyan);
  }
}

/////////// MEDIA QUERIES /////////////

//////// 30rem //////////

@media (min-width: 30rem) {
  .card {
    align-items: center;

    &__content {
      display: flex;
      flex-direction: column;
      width: 80%;
    }

    &__text {
      max-width: 40ch;
    }

    &__button {
      align-self: flex-end;
    }
  }
}

////////  50rem /////////

@media (min-width: 50rem) {
  .card {
    align-items: normal;
    padding: 4em 2em;
    flex: 1;

    &__content {
      display: block;
      width: 100%;
    }

    &__text {
      max-width: 25ch;
    }

    &__button {
      margin-top: var(--margin-top-lrg);
    }
  }
}
