.container {
  padding: 2em;
  max-width: 920px;
  margin: 3rem auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  body {
    display: flex;
  }

  .container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
