body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 2em 0;
  width: 90%;
  max-width: 920px;
  border-radius: 0.5rem;
  overflow: hidden;
}

@media (min-width: 50rem) {
  .container {
    margin: 0;
    display: flex;
  }
}
