:root {
  --primary-font: "Lexend Deca", sans-serif;
  --title-font: "Big Shoulders Display", cursive;
  --orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-grey: hsl(0, 0%, 95%);
  --margin-top: 2rem;
  --margin-top-lrg: 5.5rem;
}
