.card {
  padding: 3em 0;
}

.card__container {
  width: 75%;
  max-width: 300px;
  margin: 0 auto;
}

.card__title {
  color: var(--very-light-grey);
  font-family: var(--title-font);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  margin-top: var(--margin-top);
}

.card__text {
  margin-top: 1.5rem;
}

.card__button {
  background-color: var(--very-light-grey);
  border-radius: 30px;
  padding: 0.75em 1.5em;
  margin-top: var(--margin-top);
}

.card__sedans {
  background-color: var(--orange);
}

.card__button--sedans {
  color: var(--orange);
}

.card__suvs {
  background-color: var(--dark-cyan);
}

.card__button--suvs {
  color: var(--dark-cyan);
}

.card__luxury {
  background-color: var(--very-dark-cyan);
}

.card__button--luxury {
  color: var(--very-dark-cyan);
}

@media (min-width: 768px) {
  .container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
